@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>



<div w-type="event-discovery" w-tmapikey="OX261SAZOn5PqSntXKJhi7BPap8fIU0p" w-googleapikey="AIzaSyCaeNP5O7Dj_e7gV0ppPFCOmDqE-UX56nM" w-keyword="" w-theme="listviewthumbnails" w-colorscheme="dark" w-width="600" w-height="350" w-size="25" w-border="2" w-borderradius="4" w-postalcode="" w-radius="6" w-period="week" w-layout="horizontal" w-attractionid="" w-promoterid="" w-venueid="" w-affiliateid="" w-segmentid="" w-proportion="m" w-titlelink="off" w-sorting="dateAscending" w-id="id_2ei9ef" w-source="ticketmaster" w-latlong="43.037400,-87.914552"></div>

<script src="https://ticketmaster-api-staging.github.io/products-and-docs/widgets/event-discovery/1.0.0/lib/main-widget.js"></script>

@*<script>
    var page = 0;

    function getEvents(page) {

        $('#events-panel').show();
        $('#attraction-panel').hide();

        if (page < 0) {
            page = 0;
            return;
        }
        if (page > 0) {
            if (page > getEvents.json.page.totalPages - 1) {
                page = 0;
                return;
            }
        }

        $.ajax({
            type: "GET",
            url: "https://app.ticketmaster.com/discovery/v2/events.json?&postalCode=53203&apikey=OX261SAZOn5PqSntXKJhi7BPap8fIU0p&size=4&page=" + page,
            async: true,
            dataType: "json",
            success: function (json) {
                getEvents.json = json;
                showEvents(json);
            },
            error: function (xhr, status, err) {
                console.log(err);
            }
        });
    }

    function showEvents(json) {
        var items = $('#events .list-group-item');
        items.hide();
        var events = json._embedded.events;
        var item = items.first();
        for (var i = 0; i < events.length; i++) {
            item.children('.list-group-item-heading').text(events[i].name);
            item.children('.list-group-item-text').text(events[i].dates.start.localDate);
            try {
                item.children('.venue').text(events[i]._embedded.venues[0].name + " in " + events[i]._embedded.venues[0].city.name);
            } catch (err) {
                console.log(err);
            }
            item.show();
            item.off("click");
            item.click(events[i], function (eventObject) {
                console.log(eventObject.data);
                try {
                    getAttraction(eventObject.data._embedded.attractions[0].id);
                } catch (err) {
                    console.log(err);
                }
            });
            item = item.next();
        }
    }
    $('#prev').click(function () {
        getEvents(--page);
    });
    $('#next').click(function () {
        getEvents(++page);
    });
    function getAttraction(id) {
        $.ajax({
            type: "GET",
            url: "https://app.ticketmaster.com/discovery/v2/attractions/" + id + ".json?apikey=OX261SAZOn5PqSntXKJhi7BPap8fIU0p",
            async: true,
            dataType: "json",
            success: function (json) {
                showAttraction(json);
            },
            error: function (xhr, status, err) {
                console.log(err);
            }
        });
    }

    function showAttraction(json) {
        $('#events-panel').hide();
        $('#attraction-panel').show();

        $('#attraction-panel').click(function () {
            getEvents(page);
        });

        $('#attraction .list-group-item-heading').first().text(json.name);
        $('#attraction img').first().attr('src', json.images[0].url);
        $('#classification').text(json.classifications[0].segment.name + " - " + json.classifications[0].genre.name + " - " + json.classifications[0].subGenre.name);
    }

    getEvents(page);

</script>
<head>
    <style>

        #attraction-panel {
            display: none;
        }
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-xs-6">
                <div id='events-panel' class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Events</h3>
                    </div>
                    <div class="panel-body">
                        <div id="events" class="list-group">
                            <a href="#" class="list-group-item">
                                <h4 class="list-group-item-heading">Event title</h4>
                                <p class="list-group-item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                <p class="venue"></p>
                            </a>
                            <a href="#" class="list-group-item">
                                <h4 class="list-group-item-heading">Event title</h4>
                                <p class="list-group-item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                <p class="venue"></p>
                            </a>
                            <a href="#" class="list-group-item">
                                <h4 class="list-group-item-heading">Event title</h4>
                                <p class="list-group-item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                <p class="venue"></p>
                            </a>
                            <a href="#" class="list-group-item">
                                <h4 class="list-group-item-heading">Event title</h4>
                                <p class="list-group-item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                <p class="venue"></p>
                            </a>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <nav>
                            <ul class="pager">
                                <li id="prev" class="previous"><a href="#"><span aria-hidden="true">&larr;</span></a></li>
                                <li id="next" class="next"><a href="#"><span aria-hidden="true">&rarr;</span></a></li>
                            </ul>
                        </nav>
                    </div>
                </div>

                <div id='attraction-panel' class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Attraction</h3>
                    </div>
                    <div id="attraction" class="panel-body">
                        <h4 class="list-group-item-heading">Attraction title</h4>
                        <img class="col-xs-12" src="">
                        <p id="classification"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="script.js"></script>
</body>*@