
@{
    ViewBag.Title = "View";
}

<h2>View</h2>
<script src="https://ticketmaster-api-staging.github.io/products-and-docs/widgets/event-discovery/1.0.0/lib/main-widget.js"></script>

<div w-type="event-discovery" w-tmapikey="OX261SAZOn5PqSntXKJhi7BPap8fIU0p" w-googleapikey="AIzaSyCaeNP5O7Dj_e7gV0ppPFCOmDqE-UX56nM" w-keyword="" w-theme="listview" w-colorscheme="dark" w-width="620" w-height="339" w-size="25" w-border="2" w-borderradius="4" w-postalcode="" w-radius="2" w-period="week" w-layout="horizontal" w-attractionid="" w-promoterid="" w-venueid="" w-affiliateid="" w-segmentid="" w-proportion="custom" w-titlelink="off" w-sorting="dateAscending" w-id="id_5kw3to" w-source="universe" w-latlong="43.037400,-87.914552"></div>

